*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(0, 0%, 100%);
}


.node {
    --height: 20px;
    --width: 20px;
    display: inline-block;
    height: var(--height);
    width:  var(--width);
    outline: 1px solid rgb(175, 177, 255)
}

.node-container {
    --row: 40;
    --col: 40;
     display: grid; 
     grid-template-columns: repeat(var(--col), 20px);
    grid-template-rows: repeat(var(--row), 20px); 
    width: 100%;
    height: auto;
}

.outer {
    display: flex;
    position: relative;
    inset: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.wall {
    background-color: black !important;
}

.visited {
    background-color: blue;
}

.start {
    background-color: green !important;
}

.end {
    background-color: red !important;
}

.path {
    background-color: yellow;
}