

.node {
    --height: 20px;
    --width: 20px;
    display: inline-block;
    height: var(--height);
    width:  var(--width);
    outline: 1px solid rgb(175, 177, 255);
    /* transition: all 500ms; */
}
.node-container {
    --row: 40;
    --col: 40;
     display: grid; 
     grid-template-columns: repeat(var(--col), 20px);
    grid-template-rows: repeat(var(--row), 20px); 
    width: 100%;
    height: auto;
}

.outer {
    display: flex;
    position: relative;
    inset: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.wall {
    background-color: rgb(17, 17, 17) !important;
    animation: wall .5s ease-in;
}
/* @keyframes wall {
    from {
        border-radius: 50%;
        transform: scale(0);
    };
    to {
        border-radius: 0%;
        transform: scale(1);
    }
} */
.visited {
    background-color: rgb(21, 119, 246);
    animation: visited .5s ease-in;
}

@keyframes visited {
    from {
        border-radius: 50%;
        transform: scale(0);
    };
    to {
        border-radius: 0%;
        transform: scale(1);
    }
}
.visited::before {
    content: '';
    background-color: rgb(133, 186, 255);
    animation: visited2 .5s ease-in .2s;
}
@keyframes visited2 {
    from {
        border-radius: 50%;
        transform: scale(0);
    };
    to {
        border-radius: 0%;
        transform: scale(1);
    }
}
/* above testing sheet  didnt work :|*/
.start {
    background-color: green !important;
}

.end {
    background-color: red !important;
}

.path {
    background-color: rgb(255, 255, 74);
}